.container {
  max-width: 1280px !important;
}

/* type text css */
.typed-text {
    color: #fff;
    font-weight: 600;
    border-right: 3px solid #fff;
    padding-right: 5px;
    white-space: nowrap;
}

.banner-content h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.banner-content p {
    max-width: 600px;
    margin-top: 15px;
    font-size: 16px;
}
@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 32px;
    }
}
/* close */

img.st-logo {
    width: 270px;
}

/* stkicy button */
.sticky-contact {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.sticky-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 6px;
}

/* Flat Colors */
.sticky-btn.call {
  background-color: #0b2a4a; 
}

.sticky-btn.email {
  background-color: #000;
}

.sticky-btn.whatsapp {
  background-color: #25d366;
}

.sticky-btn:hover {
  opacity: 0.9;
}

.testimonial-user-icon i {
    font-size: 80px !important;
    color: #222;
    margin-bottom: 20px;
}

.text-main{
    color: #000;
}

.rating i {
    color: #f5c542;
}


/* banner section  */
.hero-slide {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.banner-content {
    position: relative;
    max-width: 650px;
}

.main-btn2 {
    background-color: #fff !important;
    color: #000 !important;
}

.main-btn2:hover {
    background-color: #fff !important;
    color: #000 !important;
}

a:hover {
    text-decoration: none;
    color: #fff !important;
}


.navbar-nav .nav-item .nav-link:hover{
    color: #000 !important;
}


/* mobile css  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.st-logo {
      width: 210px;
    }
}